/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 98%;
    font-family: 'Roboto', sans-serif;
	min-width: 300px;
}

#container {
    width: 85%;
    margin: 0 auto;
    min-height: 94%;
}

a {
    color: white;
    text-decoration:none;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
}

a:hover {
	color: black;
}

.projectTitle a {
    color: black;
    text-decoration:none;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
	border-bottom:1px dotted #333;
}

.projectTitle a:hover {
	color:#FF3D0D;
	border-bottom:1px dotted #FF3D0D;
}

hr {
    background-color: #FF3D0D;
    height: .25em;
}

nav {
    width: 100%;
    display: table;
    height: 50px;
}

nav ul {
    display: table-row;
    padding: 0;
    margin: auto;
}

nav ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    cursor: pointer;
    color: white;
}

section {
    padding: 20px 5%;
    text-align: left;
    width: 100%;
    color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

nav ul li:nth-child(1), section:nth-of-type(1) {
    background: #1F4BCC;
}

nav ul li:nth-child(2), section:nth-of-type(2) {
    background: #995645;
}

nav ul li:nth-child(3), section:nth-of-type(3) {
    background: #FF0D5A;
}

nav ul li:nth-child(4), section:nth-of-type(4) {
    background: #82CC1F;
}

footer {
    text-align: center;
    background-color: #FF3D0D;
    color: white;
    height: 1.5em;
}

h3 {
    margin: 10px 0;
}

h4 {
    margin: 1em 0;
}

.noBreak {
    display: inline-block;
}

.spacer {
    height: 20px;
}

.listTitle {
    width: 105px;
}

.avatar-frame {
    border: 2px solid #fff;
    float: none;
    margin: auto;
    background-color: white;
}

.avatar-frame,.avatar-frame img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#certsList, #langList, #techList {
    max-width: 567px;
}

#certsList li, #techList li {
    margin-bottom: 10px;
}

#contactLinks {
    text-align: center;
    min-height: 120px;
}

#contactLinks a {
	border: none;
	text-decoration: none;
}

#contactLinks a img {
    margin: 20px 10px;
    border: 2px solid white;
    height: 80px;
    border-radius: 40px;
    display: none;
}

.codeLinks {
    text-align: center;
}

.codeLinks a {
	border: none;
	text-decoration: none;
}

.codeLinks a img {
	max-height: 50px;
}

.projectList {
    text-align: center;
    padding: 0;
    color: black;
}

.projectTitle {
    margin: 0;
}

.projectList > li {
    width: 100%;
    border-radius: 40px;
    display: inline-block;
    background-color: #ccc;
    margin: 2% 1%;
}

.projectList > li .project {
    text-align: left;
    width: auto;
    overflow: auto;
    padding: 1em .75em;
    margin: 5px;
}

.projectDescription {
    clear: both;
}

.projectDescription a {
    border-bottom: 1px dotted #333333;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.projectDescription a:hover {
	color:#FF3D0D;
	border-bottom:1px dotted #FF3D0D;
}

.projectResponsibilitiesHeader {
    margin-bottom: .5em;
    cursor: pointer;
    color: white;
    background-color: #FF3D0D;
    padding: 5px;
    border-radius: 15px;
}

.title {
	width: 80%;
	display: inline-block;
}

.projectResponsibilitiesHeaderToggle {
    float: right;
    color: white;
    height: 20px;
    width: 20%;
	display: inline-block;
	text-align: right;
    font-size: xx-large;
    line-height: 0.7;
}

.projectResponsibilities {
    padding: 0 .5em 1em;
    margin: 0;
}

.projectResponsibilities li {
    margin: .5em 0;
}

.githubProject {
    text-align: center;
    margin: -10px 0 10px;
}

.demo {
    font-size: small;
    float: right;
}

.demo:after {
    content: ' \2192';
}

.projectTech {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.projectTech li {
    display: inline-block;
    padding: 0 10px;
    margin: 2px 0;
    border-radius: 10px;
}

.more {
    display: none;
    width: 80%;
    margin: 20px auto;
    padding: 0.25em 0;
    text-align: center;
    background-color: #FF3D0D;
    border-radius: 50px;
    cursor: pointer;
}

.more h3 {
    margin: 0;
}

.graphContainer {
    margin: 40px auto;
    width: 80%;
}

.point {
    padding: 10px 3px 5px;
    border-radius: 50px;
    height: 20px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    display: none;
}

#expPlotKey {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    width: 90%;
}

.key {
    border-radius: 30px;
    font-size: small;
    display: inline-block;
    padding: 6px;
    margin: 5px;
}

#skillList {
    padding: 0;
    margin: 20px auto;
    height: 300px;
    text-align: center;
	white-space: nowrap;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    background: #CCCCCC linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.4) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.4) 1px, transparent 1px) -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-size: 20% 20%, 20% 20%, 5% 5%, 5% 5%;
}

#skillList li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
}

#skillList li .bar {
    margin: 50% 0;
    white-space: nowrap;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.github {
    margin-top: 1em;
    text-align: center;
}

#galleryContainer {
    width: 90%;
    margin: 0 auto;
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
}

.thumbs {
    text-align: center;
}

.thumbs > div {
    display: inline-block;
}

.thumb {
    width: 180px;
    margin: 2px 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 400px) {
    .avatar-frame {
        float: right;
        margin: 20px;
    }
	
	.projectList > li .project {
		text-align: left;
		width: auto;
		overflow: auto;
		padding: 1em;
	}
	
	.projectResponsibilitiesHeader {
		padding: 5px 20px;
	}
}

@media only screen and (min-width: 670px) {
    .point {
        padding: 15px 10px 5px;
        height: 30px;
        width: 30px;
    }
    .graphContainer {
        width: 60%;
    }
}

@media only screen and (min-width: 1050px) {
    .projectDescription {
        overflow: auto;
    }
    .projectList > li {
        vertical-align: top;
        width: 45%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
