/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 98%;
    min-width: 370px;
}

#container {
    width: 85%;
    margin: 0 auto;
    min-height: 94%;
}

a {
    color: white;
    text-decoration:none;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	/* border-bottom:1px dotted white; */
}

a:hover {
	color: black;
	/* border-bottom:1px dotted black; */
}

.projectTitle a {
    color: black;
    text-decoration:none;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	border-bottom:1px dotted #333;
}

.projectTitle a:hover {
	color:#FF3D0D;
	border-bottom:1px dotted #FF3D0D;
}

hr {
    background-color: #FF3D0D;
    height: .25em;
}

section {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #FF3D0D;
    color: white;
    height: 1.5em;
}

.parallelogram {
    display: inline-block;
    color: white;
    background-color: #FF3D0D;
    margin: .25em;
    width: 13em;
    text-align: left;
    cursor: pointer;
    min-width: 290px;
}

h3 {
    margin: 1em;
}

.parallelogram article {
    display: none;
    margin: 1em;
    cursor: auto;
}

.toggleButton {
    color: #FF3D0D;
    float: right;
    margin: 0 20px;
    font-size: 3.5em;
    cursor: pointer;
}

.avatar-frame {
    border: 2px solid #fff;
    float: none;
    margin: auto;
    background-color: white;
}

.avatar-frame,.avatar-frame img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px; /* Saf3+, Chrome */
    border-radius: 40px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px; Disabled for FF1+ */
}

#socialLinks {
    text-align: center;
}

#socialLinks a {
	border: none;
	text-decoration: none;
}

#socialLinks a img {
    margin: 20px 10px;
    border: 2px solid white;
    height: 80px;
    -webkit-border-radius: 40px; /* Saf3+, Chrome */
    border-radius: 40px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px; Disabled for FF1+ */
}

#codeLinks {
    text-align: center;
}

#codeLinks a {
	border: none;
	text-decoration: none;
}

#projectList {
    text-align: center;
    padding: 0;
    color: black;
}

.projectTitle {
    margin: 0;
}

#projectList > li {
    -webkit-border-radius: 40px; /* Saf3+, Chrome */
    border-radius: 40px; /* Opera 10.5, IE 9 */
    display: inline-block;
    background-color: #ccc;
    margin: 1em;
}

#projectList > li .project {
    text-align: left;
    width: auto;
    overflow: auto;
    padding: 1em;
    margin: 20px;
}

.projectDescription {
    clear: both;
}

.projectDescription a {
    border-bottom: 1px dotted #333333;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.projectDescription a:hover {
	color:#FF3D0D;
	border-bottom:1px dotted #FF3D0D;
}

.projectResponsibilitiesHeader {
    margin-bottom: .5em;
    cursor: pointer;
    color: white;
    background-color: #FF3D0D;
    padding: 5px 20px;
    -webkit-border-radius: 15px; /* Saf3+, Chrome */
    border-radius: 15px; /* Opera 10.5, IE 9 */
    min-width: 150px;
}

.projectResponsibilitiesHeaderToggle {
    float: right;
    color: white;
    height: 20px;
    width: 15px;
    font-size: xx-large;
    line-height: 0.7;
}

.projectResponsibilities {
    display: none;
    /* list-style: none; */
    padding: 0 1em;
    margin: 0;
}

.githubProject {
    text-align: center;
    margin: -10px 0 10px;
}

.demo {
    font-size: small;
    float: right;
}

.demo:after {
    content: ' \2192';
}

.projectTech {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

.projectTech li {
    display: inline-block;
    padding: 0 10px;
    margin: 2px 0;
    -webkit-border-radius: 10px; /* Saf3+, Chrome */
    border-radius: 10px; /* Opera 10.5, IE 9 */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 285px) {
    .avatar-frame {
        float: right;
        margin: 20px;
    }
}

@media only screen and (min-width: 1050px) {
    .projectDescription {
        max-height: 220px;
        overflow: auto;
    }
    #projectList > li .project {
        height: 400px;
    }
    #projectList > li {
        width: 350px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
