@charset "utf-8";
/* CSS */

body {
	background:#666;
	font:13px sans-serif; *font-size:small; *font:x-small;
	line-height:1.22;
	font-size:100%;
	color:#000;
}

.container{
	display:block;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
}


/* Layout */
header{
	display:block;
	height: 200px;
	width:100%;
	margin-top:30px;
	margin-bottom:50px;
	background-color:#98A89E;
	border-radius:30px;
}

section{
	display: block;
	width: 100%;
	height: auto;
	background-color:#BAC0AC;
	margin-top:70px;
	margin-bottom:100px;
	clear:both;
	border-radius:30px;
	padding-top:30px;
	padding-bottom:30px;
}

article{
	margin:20px;
	clear:both;
}

footer{
	display:block;
	width:100%;
	height: 50px;
	background-color:#770E23;
	min-height:30px;
	text-align:center;
	color:white;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding-top:15px;
	padding-bottom:5px;
}

/* Navigation */
nav{
	width:200px;
	height:200px;
	position:fixed;
	right:0px;
	top:30px;
	z-index:9999;
	background-color:#98A89E;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	/*margin-right:-160px;*/
}

.anchorLink{
	margin:20px;
	clear:both;
}

/* Text */
h1, h2, h3{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: #DFFF00;
}

h1{
	margin-left:20px;
	font-size:xx-large;
}

header h1{
	padding-top:30px;
	padding-bottom:30px;
}

h2{
	font-size:x-large;
}

h4{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color: #FFF;
}

p{
	font: normal 1.1em/1.7em "trebuchet ms", futura, helvetica, "times new roman", times, serif;
	color: #222;
}

/* Links */
a{
	color: #F4F5FB;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	text-decoration:none;
}

a:hover{
	color: red;
	text-decoration:underline;
}

a img {
	border: none;
}

/* Lists */
ul, ol{
	margin-left:40px;
}

li{
	font: normal 1.1em/1.7em "trebuchet ms", futura, helvetica, "times new roman", times, serif;
	color:black;
}

nav ul{
	padding-top:20px;
}

nav li, nav li a{
	line-height:200%;
	color:white;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

/* Container for embedded Google Map */
.googleMap{
	clear:both;
	text-align:center;
}

.googleMapiFrame{
	width:452px;
	height:350px;
}

/* These classes are not displayed, but contents should be present in code */
.ccLicense{
	display:none;
}
