/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #dedede;
  padding: 0.2em 0;
}

/* ==========================================================================
   Main page styles
   ========================================================================== */
#container {
  font-size: 100%;
  color: #dedede;
  background-color: #BBB;
  border-color: #666666;
  border: 0;
}

#content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: block;
  text-align: center;
}
header hr {
  background-color: #FF3D0D;
  height: 30px;
}

/* Navigation */
nav {
  background-color: #666666;
  width: 100%;
  height: 0;
  overflow: hidden;
}
nav .links {
  margin: 0;
  padding: 0;
}

#navButton {
  width: 50px;
  height: 40px;
  margin: 20px 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
#navButton hr {
  margin: 8px 0;
  background-color: #fa4816;
  height: 7px;
}

/* Layout */
section {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

article {
  display: inline-block;
  background-color: green;
}
article img {
  width: 300px;
}
article .alt {
  background-color: rgba(200, 200, 200, 0.5);
  display: inline;
  position: absolute;
  text-align: left;
  padding: 0 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

footer {
  display: block;
  background-color: #FF3D0D;
  clear: both;
  min-height: 20px;
  position: relative;
  top: 20px;
  text-align: center;
  padding: 5px 0;
}

/* Text */
h1, h2, h3 {
  font-family: 'Noto Serif', serif, Verdana, sans-serif;
  color: #000;
}

h4 {
  font-family: 'Noto Serif', serif, Verdana, sans-serif;
  color: #dedede;
}

.title {
  background-color: #0c341e;
  width: 100%;
  font-family: 'Noto Serif', serif, Verdana, sans-serif;
  color: #dedede;
  text-align: left;
  padding: 10px 0 10px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-family: 'Noto Serif', serif, Verdana, sans-serif;
  font-size: 1.1em/1.7em;
  color: #dedede;
}

a {
  color: #b4b5ab;
  font-family: 'Noto Serif', serif, Verdana, sans-serif;
  text-decoration: none;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-bottom: 1px dotted #dedede;
}
a img {
  border: none;
  text-decoration: none;
}
a:hover {
  color: #fff350;
  border-bottom: 1px dotted #fff350;
}

/* Tables */
tr, td {
  font: normal 14px "trebuchet ms", futura, helvetica, "times new roman", times, serif;
  color: #dedede;
}

th {
  background-color: #0c341e;
  width: 100%;
  font: normal 14px "trebuchet ms", futura, helvetica, "times new roman", times, serif;
  color: #dedede;
  text-align: left;
  padding: 5px 0 5px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
