body {
	min-width: 440px;
}
header {
	height: 50px;
	margin-top: 50px;
}
section {
	margin: 20px auto;
}
nav {
	position: fixed;
	overflow: hidden;
	height: 35px;
	top: 0;
	background: white;
	z-index: 1;
	border-bottom: 1px solid black;
	padding: 5px;
}
nav.expand {
	height: auto;
}
nav .s2itemsContainer {
	display: inline-block;
	text-align: center;
	overflow: visible;
	height: auto;
	padding: 4px 0;
	margin-top: 5px;
	white-space: normal;
}
@media (min-width: 426px) {
	nav {
		height: auto;
		border: 0;
		position: static;
	}
	nav .nav-expand {
		display: none;
	}
	#cd-vertical-nav {
		background: transparent;
	}
}
.s2repeaterButton {
	width: 100%;
	height: 29px;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	vertical-align: top;
	display: inline-block;
	padding: 0 10px;
	color: #605E5E;
	text-align: center;
	line-height: 29px;
	margin-bottom: 10px;
}
@media (min-width: 426px) {
	.s2repeaterButton {
		width: 130px;
	}
}
@media (min-width: 980px) {
	.s2repeaterButton {
		width: 119px;
	}
}
.headerImgContainer {
	height: 393px;
	position: relative;
	width: 100%;
}
.headerImg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(header.jpg);
}
.headerTextContainer {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px;
}
.headerTextContainer h4, .headerTextContainer p {
	color: #000000;
	margin: 0;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	width: 100%;
}
.headerTextContainer .font_4 {
	font-size: 60px;
	position: relative;
	line-height: 0.8em;
	margin-top: 4%;
}
@media (min-width: 580px) {
	.headerTextContainer .font_4 {
		font-size: 98px;
		line-height: 1em;
		margin-top: 30px;
	}
}
.headerTextContainer .font_8 {
	font-size: 22px;
	position: static;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	margin: auto;
}
.font_0 {
	font: normal normal bold 40px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	color: #A0A09F;
	text-align: center;
}
.s9line {
	border-bottom: 1px solid rgba(160, 160, 159, 1);
	height: 0 !important;
	min-height: 0 !important;
	top: 60px;
	width: 100%;
	position: absolute;
}
.font_2 {
	top: 30px;
	margin-bottom: 60px;
	width: 100%;
	position: relative;
	text-align: center;
}
.s1 {
	margin-bottom: 30px;
	text-align: center;
}
.s1 p {
	top: 40px;
}
.pos-rel {
	position: relative;
	;
}
.cd-section h1, .cd-section p {
	position: relative;
}
.backcolor_11 {
	background-color: #FFFFFF;
}
.s15 {
	position: relative;
	top: 60px;
	margin: auto;
	margin-bottom: 58px;
	max-width: 997px;
}
.cd-section .s14mapContainer {
	width: 100%;
	max-width: 997px;
	height: 294px;
	position: static;
	margin: auto;
}
.s11 {}
	
strong {
	font-weight: bold;
}

.font_5 a.noline, .font_6 a.noline {
    border-bottom: 0;
}
.font_5 a.noline:hover, .font_6 a.noline:hover {
    border-bottom: 0;
}

#Travel img {
	height: 100px;
	margin: 20px auto;
}

.cd-section .s11imageItemimageWrapper, .cd-section .s11imageItem_imgBorder, .cd-section .s11imageItemzoom {
	position: relative;
}
.cd-section .s11itemsContainer {
	position: relative;
	margin: auto;
	text-align: center;
	max-width: 1004px;
}
.cd-section .s11imageItemzoom {
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
}
.cd-section .s11imageItemzoom a {
	cursor: pointer;
	height: 100%;
	display: block;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	filter: alpha(opacity=0);
	opacity: 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	user-modify: read-only;
	-webkit-user-modify: read-only;
	-moz-user-modify: read-only;
	-ms-user-modify: read-only;
}
.cd-section .s11imageItemtitle, .cd-section .s11imageItemdescription {
	text-align: left;
	color: black;
}
.cd-section .s11imageItemdescription {
	font: normal normal normal 15px/1em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
	text-align: left;
}
.cd-section .s11imageItem {
	display: inline-block;
	height: 221px;
	width: 308px;
	margin: 1%;
}
.cd-section .s11imageItemimageWrapper {
	height: 221px;
	width: 308px;
	margin: 0px;
}
.cd-section .s11imageItemImage, .cd-section .s11imageItemzoom {
	width: 308px;
	height: 221px;
	overflow: hidden;
}
.cd-section .s11imageItemimageimage {
	width: 308px;
	height: 221px;
}
.inline-block {
	display: inline-block;
}
.text-section {
    margin-bottom: 100px;
}
.text-section:last-child {
    margin-bottom: 50px;
}
.inline-break {
    margin: 0 5px;
}
.bottom-break {
    margin-bottom: 20px;
}
.big-bottom-break {
    margin-bottom: 60px;
}
#Travel h2.font_4 {
	margin-top:50px;
}
.font_6, .font_6 h6 {
	font-size: 20px;
	text-align: center;
}
.font_6 {
    font-size: 30px;
    text-align: center;
}
.font_5 {
    font-size: 16px;
}
.font_5 a, .font_6 a {
    border-bottom: 1px dashed #605E5E;
}
.font_5 a:hover, .font_6 a:hover {
    border-bottom: 1px dashed orange;
}
.about-us {
	width: 380px;
	display: inline-block;
	margin: 30px;
}
.about-us li h6 {
	text-align: left;
}
.cd-section .s12wrapper {
	position: static;
	width: 350px;
	margin: auto;
}
#contactFrame {
	width: 100%;
	height: 480px;
}
.gift-link {
	width: 244px;
	height: 244px;
	display: inline-table;
	margin: 30px;
}
.cd-section .s15link {
	display: table-cell;
	height: 100%;
}
.cd-section .s15imgimage {
	vertical-align: middle;
}
.cd-section .font_7 {
	text-align: center;
}
@media (max-width: 426px) {
	#cd-vertical-nav {
		display: none;
	}
}
footer {
	text-align: center;
	padding: 10px;
}